body {
  font-family: monospace;
  font-size: 100%;
  background-color: #000000;
  color: #eca9cb;
}

.entry-content {
	 font-size: 125%;
}



div.asciiart{
	
	font-family: monospace;
  font-size: 100%;
  background-color: #000000;
  color: #28a80c;
	
}


a:link    { color: #6c71c4; text-decoration: none;      }
a:hover   { color: #b739a4; text-decoration: underline; }
a:visited { color: #5f63ac;                             }
a:active  { color: #b73976;                             }

h1 a { color: inherit !important }
h2 a { color: inherit !important }
h3 a { color: inherit !important }
h4 a { color: inherit !important }
h5 a { color: inherit !important }
h6 a { color: inherit !important }

#menu li {
    display: inline;
}

#post-list {
    margin-bottom: 1em;
    margin-top: 1em;
}

pre {
    margin: 2em 1em 2em 4em;
}

